.cont1 {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.cont2 {
    border: solid red 2px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(241, 238, 233);
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    margin: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Style pour les images */
img {
    width: 300px;
    /* Ajustez la largeur selon vos besoins */
    height: auto;
    /* Assurez-vous que l'aspect ratio est préservé */
    margin: 10px;
    /* Ajoute une marge autour des images */
}

.im2 {
    width: 500px;
    /* Ajustez la largeur selon vos besoins */
    height: auto;
    /* Assurez-vous que l'aspect ratio est préservé */
    margin: 10px;
    /* Ajoute une marge autour des images */
}



/* Style pour le tableau */
table {
    width: 80%;


    margin-top: 20px;
    /* Ajoute un espace au-dessus du tableau */
}

th,
td {
    background-color: #e2cdcd;
    font-size: 20px;

    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Média query pour les écrans de petite taille (mobile) */
@media (max-width: 600px) {

    header,
    main,
    footer {
        padding: 10px;
    }

    .v {
        width: 85%;
    }


    img {
        max-width: 85%;
    }


    .im2 {
        width: 85%;
    }

}